<form action="">
    <div class="commbox">
        <div class="innerbox">
            <div class="formarea">
                <div class="am-filed">
                    <label>商品名称</label>
                    <input type="text" class="am-input" />
                </div>
                <div class="am-filed">
                    <label>商品名称</label>
                    <input type="text" class="am-input" />
                </div>
                <div class="am-filed">
                    <label>商品名称</label>
                    <input type="text" class="am-input" />
                </div>
            </div>
            <div class="imgupload">
                 <button class="as-btn">添加图片</button>
                 <button class="as-btn">扫条形码</button>
            </div>
        </div>
    </div>
    <div class="btnwrap am-flexbox">
        <button class="am-button am-button-green">确认提交</button>
        <button class="am-button am-button-blue">继续添加商品</button>
    </div>
</form>

