<form ng-submit="add()">
    <div class="commbox">
        <div class="innerbox">
            <div class="formarea">
                <div class="am-filed">
                    <label>商品名称</label>
                    <input type="text" class="am-input" ng-model="name" />
                </div>
                <div class="am-filed">
                    <label>商品价格</label>
                    <input type="text" class="am-input" ng-model="price" />
                </div>
                <div class="am-filed">
                    <label>条形编码</label>
                    <input type="text" class="am-input" ng-model="qrcode" />
                </div>
            </div>
            <div class="imgupload">
                 <button class="as-btn">添加图片</button>
                 <button class="as-btn">扫条形码</button>
            </div>
        </div>
    </div>
    <div class="btnwrap am-flexbox">
        <input type="submit" class="am-button am-button-green" value="确认提交" />
        <button class="am-button am-button-blue">继续添加商品</button>
    </div>
</form>
