

.user-logo {
  display: inline-block;
}

.custom-search {
  padding: 10px;
  margin: 5px auto;
  width: 65%;
  margin-left: 10%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #0f488f;
  color: #98c3f9;
}

.custom-search:focus {
  outline: none !important;
}

.not-found {
  color: #ff6c4f;
  position: absolute;
  width: 200px;
  right: 45px;
  line-height: 50px;
}

.add-req {
  line-height: 36px;
}

.add-req:hover {
  cursor: pointer;
}

.user-searh {
  height: 65px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #225fab;
}

.asset-btn-group {
  margin: 0 10px;
}

.asset-btn {
  width: 49%;
  height: 100px;
  border-radius: 4px;
  color: white;
}

.asset-btn-green {
  background: #72c180;
}

.asset-btn-red {
  background: #df5f63;
}

.asset-store {
  height: 165px;
  border-radius: 4px;
  margin: 10px;
  padding: 10px 15px;
  background: white;

  line-height: 140px;
  font-size: 24px;
  color: #fe9e21;
}

.store-num {
  font-size: 32px;
}

.asset-list >a{
  height: 100px;
}

.asset-logo {
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #e7e7e7;
  float: left;
    overflow: hidden;
}

/* 重写样式 */

/* 顶部样式 */
.navbar-brand {
  font-size: 24px !important;
}

.navbar-absolute-top {
  border-bottom: 1px solid #1a4b88 !important;
  background: #235798 !important;
  color: white !important;
}

/* 底部样式 */
.navbar-absolute-bottom {
  border-top: 0 !important;
  background: #fe9e21 !important;
}

.navbar-absolute-bottom a{
  color: white !important;
}

.navbar-absolute-bottom .active {
  color: #d47e0f !important;
}

/* 列表样式 */

.list-group-item:first-child, a.list-group-item:first-child {
  border-top-right-radius: 3px !important;
  border-top-left-radius: 3px !important;
}

.list-group-item:last-child, a.list-group-item:last-child {
  border-bottom-right-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.list-group .list-group-item{
  height: 100px;
  margin: 10px;
  /*padding: 15px 15px;*/
  border-radius: 3px 3px 3px 3px;
}

/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
.well[ui-view]{
 height: 65px;
}

.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}

/**
 * create by yemo
 */

.scrollable {
    background-color: #235798;
}

.login-su-1x {
    background: url("/images/su.png");
    background: -webkit-image-set(url("/images/su.png") 1x,
                  url("/images/su@2x.png") 2x) 50% 0% no-repeat;
    background: -moz-image-set(url("/images/su.png") 1x,
                  url("/images/su@2x.png") 2x) 50% 0% no-repeat;
    background: -o-image-set(url("/images/su.png") 1x,
                  url("/images/su@2x.png") 2x) 50% 0% no-repeat;
    background: -ms-image-set(url("/images/su.png") 1x,
                  url("/images/su@2x.png") 2x) 50% 0% no-repeat;
    width: 191px;
    height: 190px;
    margin: 20% auto 10%;
}

.login-logo-1x {
    background: url("/images/logo.png");
    background: -webkit-image-set(url("/images/logo.png") 1x,
                  url("/images/logo@2x.png") 2x) 50% 0% no-repeat;
    background: -moz-image-set(url("/images/logo.png") 1x,
                  url("/images/logo@2x.png") 2x) 50% 0% no-repeat;
    background: -o-image-set(url("/images/logo.png") 1x,
                  url("/images/logo@2x.png") 2x) 50% 0% no-repeat;
    background: -ms-image-set(url("/images/logo.png") 1x,
                  url("/images/logo@2x.png") 2x) 50% 0% no-repeat;
    width: 77px;
    height: 59px;
    margin: auto;
    margin-bottom: 16%;
}

.btn.btn-default {
    background-color: #ffffff;
    border: 0px;
    color: #a4a4a4;
    font-size: 20px;
    line-height: 200%;
}

.index-router {
    margin-top: 20px;
    width: 75%;
    margin: auto;
}

.login-logo {
    width: 77px;
    height: 59px;
    margin: 26% auto;
    background: url("/images/logo.png");
    background: image-set(url("/images/logo.png") 1x,
                  url("/images/logo@2x.png") 2x) 50% 0% no-repeat;
    background: -webkit-image-set(url("/images/logo.png") 1x,
                  url("/images/logo@2x.png") 2x) 50% 0% no-repeat;
    background: -moz-image-set(url("/images/logo.png") 1x,
                  url("/images/logo@2x.png") 2x) 50% 0% no-repeat;
    background: -o-image-set(url("/images/logo.png") 1x,
                  url("/images/logo@2x.png") 2x) 50% 0% no-repeat;
    background: -ms-image-set(url("/images/logo.png") 1x,
                  url("/images/logo@2x.png") 2x) 50% 0% no-repeat;
}

.btn.btn-submit {
    background-color: #28e373;
    border: 0px;
    color: #fff;
    font-size: 1.5em;
}

input.form-control, a.form-control {
    height: 50px;
}


#login {
    width: 75%;
    margin: auto;
}

#login .form-group {
    padding: 6px 0;
}

#login .form-submit {
    padding-top: 6px;
}

.login-slideway {
    text-align: center;
    margin-top: 10%;
}

.login-slideway a {
    color: #fff;
}

.login-slideway a:hover {
    color: #fff;
}

.login-slideway-sign {
    margin-top: 10px;
}

.navbar-app .justified a {
    line-height: 18px;
}

.justified a:before {
    content: ' ';
    display: block;
    margin: 6px auto 4px;
    width: 22px;
    height: 22px;
}

[ui-sref="search"]:before {
    background: url("/images/search.png");
    background: image-set(url("/images/search.png") 1x,
                  url("/images/search@2x.png") 2x) 50% 0% no-repeat;
    background: -webkit-image-set(url("/images/search.png") 1x,
                  url("/images/search@2x.png") 2x) 50% 0% no-repeat;
    background: -moz-image-set(url("/images/search.png") 1x,
                  url("/images/search@2x.png") 2x) 50% 0% no-repeat;
    background: -o-image-set(url("/images/search.png") 1x,
                  url("/images/search@2x.png") 2x) 50% 0% no-repeat;
    background: -ms-image-set(url("/images/search.png") 1x,
                  url("/images/search@2x.png") 2x) 50% 0% no-repeat;
}

[ui-sref="map"]:before, [ui-sref="discovery"]:before {
    background: url("/images/discovery.png");
    background: image-set(url("/images/discovery.png") 1x,
                  url("/images/discovery@2x.png") 2x) 50% 0% no-repeat;
    background: -webkit-image-set(url("/images/discovery.png") 1x,
                  url("/images/discovery@2x.png") 2x) 50% 0% no-repeat;
    background: -moz-image-set(url("/images/discovery.png") 1x,
                  url("/images/discovery@2x.png") 2x) 50% 0% no-repeat;
    background: -o-image-set(url("/images/discovery.png") 1x,
                  url("/images/discovery@2x.png") 2x) 50% 0% no-repeat;
    background: -ms-image-set(url("/images/discovery.png") 1x,
                  url("/images/discovery@2x.png") 2x) 50% 0% no-repeat;
}


[ui-sref="requirements"]:before {
    background: url("/images/requirements.png");
    background: image-set(url("/images/requirements.png") 1x,
                  url("/images/requirements@2x.png") 2x) 50% 0% no-repeat;
    background: -webkit-image-set(url("/images/requirements.png") 1x,
                  url("/images/requirements@2x.png") 2x) 50% 0% no-repeat;
    background: -moz-image-set(url("/images/requirements.png") 1x,
                  url("/images/requirements@2x.png") 2x) 50% 0% no-repeat;
    background: -o-image-set(url("/images/requirements.png") 1x,
                  url("/images/requirements@2x.png") 2x) 50% 0% no-repeat;
    background: -ms-image-set(url("/images/requirements.png") 1x,
                  url("/images/requirements@2x.png") 2x) 50% 0% no-repeat;
}

[ui-sref="settings"]:before {
    background: url("/images/settings.png");
    background: image-set(url("/images/settings.png") 1x,
                  url("/images/settings@2x.png") 2x) 50% 0% no-repeat;
    background: -webkit-image-set(url("/images/settings.png") 1x,
                  url("/images/settings@2x.png") 2x) 50% 0% no-repeat;
    background: -moz-image-set(url("/images/settings.png") 1x,
                  url("/images/settings@2x.png") 2x) 50% 0% no-repeat;
    background: -o-image-set(url("/images/settings.png") 1x,
                  url("/images/settings@2x.png") 2x) 50% 0% no-repeat;
    background: -ms-image-set(url("/images/settings.png") 1x,
                  url("/images/settings@2x.png") 2x) 50% 0% no-repeat;
}

[ui-sref="dashboard"]:before {
    background: url("/images/dashboard.png");
    background: image-set(url("/images/dashboard.png") 1x,
                  url("/images/dashboard@2x.png") 2x) 50% 0% no-repeat;
    background: -webkit-image-set(url("/images/dashboard.png") 1x,
                  url("/images/dashboard@2x.png") 2x) 50% 0% no-repeat;
    background: -moz-image-set(url("/images/dashboard.png") 1x,
                  url("/images/dashboard@2x.png") 2x) 50% 0% no-repeat;
    background: -o-image-set(url("/images/dashboard.png") 1x,
                  url("/images/dashboard@2x.png") 2x) 50% 0% no-repeat;
    background: -ms-image-set(url("/images/dashboard.png") 1x,
                  url("/images/dashboard@2x.png") 2x) 50% 0% no-repeat;
}


[ui-sref="store"]:before {
    background: url("/images/store.png");
    background: image-set(url("/images/store.png") 1x,
                  url("/images/store@2x.png") 2x) 50% 0% no-repeat;
    background: -webkit-image-set(url("/images/store.png") 1x,
                  url("/images/store@2x.png") 2x) 50% 0% no-repeat;
    background: -moz-image-set(url("/images/store.png") 1x,
                  url("/images/store@2x.png") 2x) 50% 0% no-repeat;
    background: -o-image-set(url("/images/store.png") 1x,
                  url("/images/store@2x.png") 2x) 50% 0% no-repeat;
    background: -ms-image-set(url("/images/store.png") 1x,
                  url("/images/store@2x.png") 2x) 50% 0% no-repeat;
}

/* active */
.active[ui-sref="search"]:before {
    background: url("/images/search_active.png");
    background: image-set(url("/images/search_active.png") 1x,
                  url("/images/search_active@2x.png") 2x) 50% 0% no-repeat;
    background: -webkit-image-set(url("/images/search_active.png") 1x,
                  url("/images/search_active@2x.png") 2x) 50% 0% no-repeat;
    background: -moz-image-set(url("/images/search_active.png") 1x,
                  url("/images/search_active@2x.png") 2x) 50% 0% no-repeat;
    background: -o-image-set(url("/images/search_active.png") 1x,
                  url("/images/search_active@2x.png") 2x) 50% 0% no-repeat;
    background: -ms-image-set(url("/images/search_active.png") 1x,
                  url("/images/search_active@2x.png") 2x) 50% 0% no-repeat;
}

.active[ui-sref="map"]:before, .active[ui-sref="discovery"]:before {
    background: url("/images/discovery_active.png");
    background: image-set(url("/images/discovery_active.png") 1x,
                  url("/images/discovery_active@2x.png") 2x) 50% 0% no-repeat;
    background: -webkit-image-set(url("/images/discovery_active.png") 1x,
                  url("/images/discovery_active@2x.png") 2x) 50% 0% no-repeat;
    background: -moz-image-set(url("/images/discovery_active.png") 1x,
                  url("/images/discovery_active@2x.png") 2x) 50% 0% no-repeat;
    background: -o-image-set(url("/images/discovery_active.png") 1x,
                  url("/images/discovery_active@2x.png") 2x) 50% 0% no-repeat;
    background: -ms-image-set(url("/images/discovery_active.png") 1x,
                  url("/images/discovery_active@2x.png") 2x) 50% 0% no-repeat;
}


.active[ui-sref="requirements"]:before {
    background: url("/images/requirements_active.png");
    background: image-set(url("/images/requirements_active.png") 1x,
                  url("/images/requirements_active@2x.png") 2x) 50% 0% no-repeat;
    background: -webkit-image-set(url("/images/requirements_active.png") 1x,
                  url("/images/requirements_active@2x.png") 2x) 50% 0% no-repeat;
    background: -moz-image-set(url("/images/requirements_active.png") 1x,
                  url("/images/requirements_active@2x.png") 2x) 50% 0% no-repeat;
    background: -o-image-set(url("/images/requirements_active.png") 1x,
                  url("/images/requirements_active@2x.png") 2x) 50% 0% no-repeat;
    background: -ms-image-set(url("/images/requirements_active.png") 1x,
                  url("/images/requirements_active@2x.png") 2x) 50% 0% no-repeat;
}

.active[ui-sref="settings"]:before {
    background: url("/images/settings_active.png");
    background: image-set(url("/images/settings_active.png") 1x,
                  url("/images/settings_active@2x.png") 2x) 50% 0% no-repeat;
    background: -webkit-image-set(url("/images/settings_active.png") 1x,
                  url("/images/settings_active@2x.png") 2x) 50% 0% no-repeat;
    background: -moz-image-set(url("/images/settings_active.png") 1x,
                  url("/images/settings_active@2x.png") 2x) 50% 0% no-repeat;
    background: -o-image-set(url("/images/settings_active.png") 1x,
                  url("/images/settings_active@2x.png") 2x) 50% 0% no-repeat;
    background: -ms-image-set(url("/images/settings_active.png") 1x,
                  url("/images/settings_active@2x.png") 2x) 50% 0% no-repeat;
}

.active[ui-sref="dashboard"]:before {
    background: url("/images/dashboard_active.png");
    background: image-set(url("/images/dashboard_active.png") 1x,
                  url("/images/dashboard_active@2x.png") 2x) 50% 0% no-repeat;
    background: -webkit-image-set(url("/images/dashboard_active.png") 1x,
                  url("/images/dashboard_active@2x.png") 2x) 50% 0% no-repeat;
    background: -moz-image-set(url("/images/dashboard_active.png") 1x,
                  url("/images/dashboard_active@2x.png") 2x) 50% 0% no-repeat;
    background: -o-image-set(url("/images/dashboard_active.png") 1x,
                  url("/images/dashboard_active@2x.png") 2x) 50% 0% no-repeat;
    background: -ms-image-set(url("/images/dashboard_active.png") 1x,
                  url("/images/dashboard_active@2x.png") 2x) 50% 0% no-repeat;
}


.active[ui-sref="store"]:before {
    background: url("/images/store_active.png");
    background: image-set(url("/images/store_active.png") 1x,
                  url("/images/store_active@2x.png") 2x) 50% 0% no-repeat;
    background: -webkit-image-set(url("/images/store_active.png") 1x,
                  url("/images/store_active@2x.png") 2x) 50% 0% no-repeat;
    background: -moz-image-set(url("/images/store_active.png") 1x,
                  url("/images/store_active@2x.png") 2x) 50% 0% no-repeat;
    background: -o-image-set(url("/images/store_active.png") 1x,
                  url("/images/store_active@2x.png") 2x) 50% 0% no-repeat;
    background: -ms-image-set(url("/images/store_active.png") 1x,
                  url("/images/store_active@2x.png") 2x) 50% 0% no-repeat;
}
