
<div class="navbar navbar-app navbar-absolute-top">
  <div class="navbar-brand navbar-brand-center">
    <span class="ng-scope">想要</span>
  </div>
  <div class="btn-group pull-left">
    <a ui-sref="map" class="btn btn-navbar" style="color: white !important;margin-left: 5px;">
      <i class="fi-marker size-24"></i>
    </a>
  </div>

  <div class="btn-group pull-right">
    <a class="btn btn-navbar" style="color: white !important;margin-right: 5px;">
      <i class="fi-magnifying-glass size-24"></i>
    </a>
  </div>
</div>

<div class="navbar navbar-app navbar-absolute-bottom">
  <div class="btn-group justified">
    <a ui-sref="search" class="btn btn-navbar ">搜索</a>
    <a ui-sref="discovery" class="btn btn-navbar">发现</a>
    <a ui-sref="requirements" class="btn btn-navbar active">想要</a>
    <a ui-sref="settings" class="btn btn-navbar">设置</a>
  </div>
</div>

<div class="app-body" ng-class="{loading: loading}">
    <div ng-show="loading" class="app-content-loading ng-hide">
        <i class="fa fa-spinner fa-spin loading-spinner"></i>
    </div>

    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-content">
                <!-- 想要列表 -->
                <div class="list-group asset-list">
                    <a ng-repeat="r in requires" href="#" class="list-group-item">
                        <span class="asset-logo"></span>
                        <div style="margin-top: 22px;margin-left: 110px;">
                            <span>商品名：{{ r.name }}</span><br>
                            <span ng-show="r.providers.length==0">暂时没有商家提供</span>
                            <span ng-show="r.providers.length==1">{{r.providers[0].name}} 有提供!</span>
                            <span ng-show="r.providers.length>1">{{r.providers.length}}家零售商有提供!</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

