
<div class="navbar navbar-app navbar-absolute-top">
  <div class="navbar-brand navbar-brand-center">
    <span class="ng-scope">开始搜索</span>
  </div>
</div>

<div class="navbar navbar-app navbar-absolute-bottom">
  <div class="btn-group justified">
    <a href="http://mobileangularui.com/" class="btn btn-navbar"><i class="fa fa-home fa-navbar"></i> Docs</a>
  </div>
</div>

<div class="app-body" ng-class="{loading: loading}">
  <div ng-show="loading" class="app-content-loading ng-hide">
    <i class="fa fa-spinner fa-spin loading-spinner"></i>
  </div>

  <div class="app-content">
    <input type="search"
      class="form-control app-search"
      placeholder="Search.."
      ng-model="keyword"
      ng-change="search()">

    <div class="scrollable">
      <div class="scrollable-content">
        <!-- 搜索列表 -->
        <div class="list-group" ng-show="keyword">
          <a ng-repeat="asset in assets" href="#" class="list-group-item">
            {{ asset }} <i class="fa fa-chevron-right pull-right"></i>
          </a>
        </div>

        <!-- 推荐列表 -->
        <div class="list-group" ng-hide="keyword">
          <a ng-repeat="s in suggests" href="#" class="list-group-item">
            {{ s }} <i class="fa fa-chevron-right pull-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

