
<div class="navbar navbar-app navbar-absolute-top" style="height: 51px;">
  <div class="navbar-brand navbar-brand-center">
    <span class="ng-scope">百家</span>
  </div>
</div>

<div class="navbar navbar-app navbar-absolute-bottom">
  <div class="btn-group justified">
    <a ui-sref="search" class="btn btn-navbar active">搜索</a>
    <a ui-sref="discovery" class="btn btn-navbar">发现</a>
    <a ui-sref="requirements" class="btn btn-navbar">想要</a>
    <a ui-sref="settings" class="btn btn-navbar">设置</a>
  </div>
</div>

<div class="app-body">
  <div class="app-content">
    <div class="scrollable">
      <div class="scrollable-content">
        <img class="login-slideway-logo" src="/images/asd2.png"
          style="width: 50%; display: block; margin: 80px auto">

        <div class="user-searh">
          <input type="search"
            class="custom-search" ng-model="assetName"
            ng-click="assetClick()"
            placeholder="输入您找的商品">
          <span class="not-found" ng-show="notFound">抱歉！未找到对应商品</span>
          <span ng-click="assetSubmit()" class="pull-right add-req" style="margin: 10px; color: white; margin-right: 5%;">{{searchBtnText}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
